@{
    ViewData["Title"] = "Piattini";
}

<div class="text-center">
    <h1 class="display-4">Ristorante Piattini</h1>
    <img src="https://lh3.googleusercontent.com/proxy/S-PNnUG35NyDCwETHck2W9eZiEJWjv5AD0vUGlBqL3Jy9gfMLzgAoGZqYIPKskXW70baMJBey1wFPEGDUsGc86gja2S_VOTbYKSxv2__pSDm-gXhvEMu84JczVHI_i7Ia_bowlIwqm8" alt="Foto Ristorante Piattini" align="middle" />
</div>
